@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&family=Poppins:wght@500;600;700&family=Rancho&display=swap');

h2{
    font-size:31px ;
    font-weight: 600;
    font-family: 'Archivo';
    margin-bottom: 25px;
}
p{
    color:#404040;
    font-family: 'Archivo';
    font-size: 16px;
    margin-bottom: 30px;
}
ul{
    font-size: 19px;
    list-style-type: disclosure-closed;
    font-family: 'Archivo';
    margin-bottom: 30px;
}
iframe, object, embed {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 70px;
}
ul li{
    color:#404040;
    line-height: 37px;
}

.container-fluid{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

/*  Elements  */

.btn.btn-pink{
    background-color: #FF7ED1 !important;
    color:#fff;
    padding:6px 18px;
    font-family: 'Archivo';
    font-size:15px ;
    border: 1px solid #FF7ED1 !important;
    box-shadow: none !important;
}
.btn.btn-pink-bordered{
    color:#FF7ED1 !important;
    border: 1px solid #FF7ED1 !important;
    background-color: transparent !important;
    font-family: 'Archivo';
    font-size: 15px;
    box-shadow: none !important;
}
.btn.btn-white-bordered{
    border:2px solid #fff;
    font-size:16px;
    font-family: 'Archivo';
    font-weight:700;
    color:#fff;
}
.btn.btn-light{
    background-color: #F8F9FB;
    color:#011955;
    padding:6px 18px;
    font-family: 'Archivo';
    font-size:15px ;
}
.btn.btn-large{
    padding: 15px 29px;
    font-size: 16px;
}

.btn.btn-large.btn-dark-bordered{
    font-size:16px;
    font-family: 'Archivo';
    font-weight:700;
    border:2px solid #000;
    border-radius: 6px;
    padding: 11px 25px;
}


/* Header */

.top-header-red-block{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background-color: #FF868B;
    padding: 6px;

}
.social-links-header-links{
    background-color: #D9D9FF;
    padding: 2px 50px;
    display: flex;
    justify-content: flex-end;
}
.social-links-header-links .social-links{}
.social-links-header-links .social-links .social-link{
    display: inline-block;
    padding: 0 6px
}
.social-links-header-links .social-links .social-link a{
    color: #000;
    display: inline-block;
}

/* Navbar */

.navbar{
    padding: 6px 50px;
}
.navbar .navbar-brand img{
    width:240px;
}
.navbar-light .navbar-nav .nav-link{
    margin-left: 20px;
    color: #000;
    font-family: 'Rancho';
    font-size: 20px;
}
.navbar .dropdown-item{
    font-family: 'Rancho';
    font-size: 20px;
}
.navbar .nav-right-block{
    display: flex;
    align-items: center;
    margin-left: 67px;
}
.navbar .nav-right-block .search-block{}
.navbar .nav-right-block .search-block a{
    color:#000;
}
.navbar .nav-right-block .cart-block{
    margin-left: 50px;
}
.navbar .nav-right-block .cart-block a{
    color:#FF7ED1;
    font-size: 24px;
}
.navbar .nav-right-block .btn-group{
    margin-left: 28px;
}
.navbar .nav-right-block .btn-group .btn{
    font-size: 14px;
    padding: 8px 23px;
}
@media (max-width:1404px){
    .navbar .nav-right-block{
        margin: 0;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;
    }
    .navbar{
      flex-wrap: wrap;

    }
    .navbar .navbar-brand img{
        width: 200px;
    }
}
@media (max-width:992px){
    .navbar{
        padding: 6px 30px;
    }

}
/* Footer*/
.mail-container{
    background-color: #FEE483;
    min-height: 236px;
    padding: 50px;
    display: flex;
    align-items: center;
}
.mail-container h2{
    font-size: 34px;
    font-family: 'Rancho';
    margin-bottom: 0px;
}
.mail-container p{
    font-size: 15px;
    font-family: 'Archivo';
    margin-bottom: 0px;
}
.mail-container .row{
    width: 100%;
}
.mail-container .row > div{

}
.mail-container .row .text-block{

}
.mail-container .row .form-block{
    display: flex;
    align-items: center;
}
.mail-container .row .form-block .input-group{
    margin: 0;
}
.mail-container .row .form-block .input-group input{
    padding: 16px;
    font-size: 17px;
    font-family: 'Archivo';
    border: 0;
    border-radius: 0;
    height: auto;

}
.mail-container .row .form-block .input-group button{
    font-family: 'Rancho';
    background-color: #D9D9FF;
    border-radius: 0;
    font-size: 27px;
    width: 100%;

}
.mail-container .row .form-block .input-group .input-group-append{
    width: 30%;
}
@media (max-width:992px){
    .mail-container{
        padding: 30px;
    }
    .mail-container .row .text-block{
        margin-bottom: 20px;
    }
}


.footer-nav{
    padding: 60px 50px;
}
.footer-nav .text-right-images{
    display: flex;
    justify-content: flex-end;
}
.footer-nav .footer-images{
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav .footer-images .logo-1{
    width:370px;
}
.footer-nav .footer-images .logo-2{
    width: 230px;
}
@media (max-width:992px){
    .footer-nav .text-right-images{
        justify-content: flex-start;
    }
}
.footer-columns{
    margin-top: 40px;
}
.footer-column .title{
    font-size: 28px;
    font-family: 'Rancho';
    margin-bottom: 10px;
}
.footer-column .column-list{

}
.footer-column .column-list .column-item{

}
.footer-column .column-list .column-item a{
    font-family: 'Archivo';
    font-size: 15px;
    padding: 3px 0;
    display: block;
    color:#000;
}
@media (max-width: 992px){
    .footer-column .column-list{
        margin-bottom: 35px;
    }
}
.footer-bottom{
    background-color: #D9D9FF;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    height: 51px;
    align-items: center;
}
.footer-bottom .footer-bottom-list{}
.footer-bottom .footer-bottom-list .footer-bottom-list-item{
    color:#000;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    padding-right: 14px;
    position: relative;
}
.footer-bottom .footer-bottom-list .footer-bottom-list-item::after{
    content:' ';
    width: 2px;
    height: 18px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 7px;
}
.footer-bottom .footer-bottom-list .footer-bottom-list-item:last-child::after{
  content: none;
}
.footer-bottom .social-links {}
.footer-bottom .social-links  .social-link{
    display: inline-block;
    padding: 0 6px;
}
.footer-bottom .social-links  .social-link a{
    color: #000;

}
@media (max-width:992px){
    .footer-bottom{
        padding: 0 30px;
    }
}
.home-banner{
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position-y:center ;
}
.home-banner h2{
    color:#fff;
    font-size: 71px;
    font-family: 'Poppins';
    text-align: center;
    font-weight: 700;
    margin: 0;
}
@media (max-width:992px){
    .home-banner h2{
        font-size: 50px;
    }
}
/* Classes container */

.classes-section {
    margin-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
}
.classes-section .classes-container{
   max-width: 1100px;
    margin: 0 auto;
    position:relative;
    padding-top: 100px;
}
.classes-section .classes-container .classes-search{
    position: absolute;
    top: -115px;
    width: 100%;

}
.classes-section .classes-container .classes-search .search-title{
    font-size: 23px;
    color:#fff;
    font-family: 'Archivo';
    font-weight: 400;
    margin-bottom: 25px;
}
.classes-section .classes-container .classes-search .search-navs{
    min-height: 110px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 11px -3px #ccc;
    background-color: #fff;
}
.classes-section .classes-container .classes-search .icon-search{
    display: inline-block;
    margin-right: 14px;
    color:#3B4043;
}
.classes-section .classes-container .classes-search .search-field-container{
    display: flex;
    align-items: center;
    padding: 16px;
    border-right: 1px solid #DEE2E5;

}
.classes-section .classes-container .classes-search .input-container{
    display: flex;
    width: 100%;
}
.classes-section .classes-container .classes-search .input-container input{
    border:0;
    width: calc(100% - 40px);
}
.classes-section .classes-container .classes-search .input-container input:focus{
    outline: none;
}
.classes-section .classes-container .location-container{
    display: flex;
    align-items: center;
    border-right: 1px solid #DEE2E5;
    justify-content: center;
}
.classes-section .classes-container .location-container select{
    border:0;
}
.classes-section .classes-container .location-container select:focus{
    border:0;
    outline: none;
}
.classes-section .classes-container .location-container .icon-location{
    display: inline-block;
    margin-right: 14px;
    color:#3B4043;
}
.classes-section .classes-container .skill-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.classes-section .classes-container .skill-container select{
    border:0;
}
.classes-section .classes-container .skill-container select:focus{
    border:0;
    outline: none;
}
.classes-section .classes-container .button-container{
    align-items: center;
    display: flex;
    padding:10px;
    justify-content: flex-end;
}
.classes-section .classes-container .button-container button{
    font-size: 16px;
    text-transform: uppercase;
    padding: 21px 55px;
    border-radius: 11px;
}
.classes-section .classes-container .skill-container .icon-skill{
    display: inline-block;
    margin-right: 14px;
    color:#3B4043;
}
@media (max-width:992px){
    .classes-section .classes-container{
        padding-top: 250px;
    }
    .classes-section .classes-container .button-container button{
        width: 100%;
    }
    .classes-section .classes-container .classes-search .search-field-container{
        border-bottom: 1px solid #DEE2E5 ;
        border-right: 0;
    }
    .classes-section .classes-container .classes-search .location-container{
        border-bottom: 1px solid #DEE2E5 ;
        padding: 16px;
        border-right: 0;
    }
    .classes-section .classes-container .classes-search .skill-container{
        padding: 16px;
    }
}
.classes-section .classes-container .portfolio-navs-header{
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 43px;
    color:#011955;
    text-align: center;
    margin-bottom: 55px;
}
.classes-section .classes-container .portfolio-navs{
    margin-bottom: 40px;
}
.classes-section .classes-container .portfolio-navs .portfolio-nav{
    font-size: 15px;
    font-family: 'Archivo';
    padding: 11px 20px;
    border-radius: 7px;
    background-color: #F8F9FB;
    color:#011955;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}
.classes-section .classes-container .portfolio-navs .portfolio-nav.active{
    background-color: #FF7ED1;
    color: #fff;
}
.classes-section .classes-container .portfolio-navs .portfolio-nav:hover{
    background-color: #FF7ED1;
    color: #fff;
}
.classes-list{}
.classes-list .classes-item{
    margin-bottom: 50px;
}
.classes-list .classes-item .classes-item-container{
    border-radius: 12px;
    border:1px solid #F2F2F2;
}
.classes-list .classes-item .image-container{
    height: 230px;
    background-position-y: center;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.classes-list .classes-item .text-container{
    padding: 40px;
    position: relative;
}
.classes-list .classes-item .text-container .class-level{
    position:absolute;
    text-transform: uppercase;
    top: -18px;
}
.classes-list .classes-item .text-container .meta-block{
    font-family: 'Archivo';
    font-size: 15px;
    color:#797979;
    margin-bottom: 25px;
}
.classes-list .classes-item .text-container .meta-block .date-container{}
 .classes-list .classes-item .text-container .meta-block .date-container .icon{
    color:#FF7ED1;
    display: inline-block;
    margin-right: 6px;
}
.classes-list .classes-item .text-container .meta-block .date-container .text{

}
 .classes-list .classes-item .text-container .meta-block .location-container{
    border:0;
}
 .classes-list .classes-item .text-container .meta-block .location-container .icon{
    color: #FF7ED1;
    display: inline-block;
    margin-right: 6px;
}
 .classes-list .classes-item .text-container .meta-block .location-container .text{

}
 .classes-list .classes-item .text-container .class-title{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
}
 .classes-list .classes-item .text-container .class-title span{

    color:#FF7ED1;
}

/* Explore venues */

.explore-venues-section{
    background-color: #FF7ED1;
    padding-top: 90px;
    padding-bottom: 109px;
    padding-left: 30px;
    padding-right: 30px;

}
.explore-venues-section .explore-venues-container{
    max-width: 1100px;
    margin: 0 auto;
}
.explore-venues-section .explore-venues-container .explore-venues-header{
    display: block;
    text-align: center;
    color:#fff;
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 43px;
    margin-bottom: 45px;
}
.explore-venues-section .explore-venues-container .explore-list .explore-item{
    margin-bottom: 100px;

}
.explore-venues-section .explore-venues-container .explore-list .explore-item .explore-item-container{
    background-color: #fff;
    border-radius: 12px;

}
.explore-venues-section .explore-venues-container .explore-list .explore-item .explore-item-image{
    height:230px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-size: cover;
    background-position-y: center;
}
.explore-venues-section .explore-venues-container .explore-list .explore-item .explore-item-text{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.explore-venues-section .explore-venues-container .explore-list .explore-item .explore-item-text h3{
    font-family: 'Poppins';
    font-weight: 700;
    color:#011955;
    font-size: 23px;
    margin-bottom: 25px;
}
.explore-venues-section .explore-venues-container .explore-list .explore-item .explore-item-text p{
    display: inline-block;
    color:#797979;
    font-size: 16px;
    margin: 0;
}
.explore-venues-section .explore-venues-container .explore-navs{
    display: flex;
    justify-content: space-between;
}
.explore-venues-section .explore-venues-container .explore-navs .arrow-button{
    padding: 13px 13px;
}
.explore-venues-section .explore-venues-container .explore-navs .view-all-button{
    font-weight: 400;
    padding: 1px 32px;
}
.detail-class-top-banner{
    height: 370px;
    background-size: cover;
    background-position-y:center ;
}

.class-detail-container{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding-top: 300px;
}
.class-detail-top-block{
    border-radius: 14px;
    box-shadow: 0px 5px 11px -3px #ccc;
    padding: 25px;
    position: absolute;
    top:-240px;
    background-color: #fff;
    width: 100%;
    z-index: 20;
}
.class-detail-container .image-block{
    height: 360px;
    border-radius: 12px;
    position: relative;
    background-size: cover;
    background-position-y:center ;
}
.class-detail-container .image-block .class-level{
    text-transform: uppercase;
    background-color: #FF7ED1;
    color:#fff;
    font-size: 13px;
    display: inline-block;
    padding: 9px 33px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    top:20px;
    left:-17.5px;
}
.class-detail-container .image-block .class-level::after{
    content: ' ';
    border-left: 9px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid #AC538D;
    border-right: 9px solid #AC538D;
    left: 0;
    position: absolute;
    bottom: -10px;
}
.class-detail-container .text-block{
    padding-top: 70px;
}
.class-detail-container .text-block .meta-block{
    font-family: 'Archivo';
    font-size: 15px;
    color: #797979;
    margin-bottom: 25px;
}
.class-detail-container .text-block .meta-block .date-container{}
.class-detail-container .text-block .meta-block .location-container{}
.class-detail-container .text-block .meta-block .date-container .icon{
    color: #FF7ED1;
    display: inline-block;
    margin-right: 6px;
}
.class-detail-container .text-block .meta-block .date-container .text{}
.class-detail-container .text-block .meta-block .location-container .icon{
    color: #FF7ED1;
    display: inline-block;
    margin-right: 6px;
}
.class-detail-container .text-block .meta-block .location-container .text{}
.class-detail-container .text-block .class-title{
    font-family: 'Archivo';
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 25px;
}
.class-detail-container .text-block .class-title span{
    color: #FF7ED1;
}
.class-detail-container .text-block .control-block {
    display: flex;
}
.class-detail-container .text-block .control-block .availability-container{
    margin-left: 26px;
}
.class-detail-container .text-block .control-block .availability-container .title{
    color: #797979;
    font-size: 13px;
    font-family: 'Archivo';
    font-weight: 500;
}
.class-detail-container .text-block .control-block .availability-container .numbers{
    font-size: 39px;
    font-weight: 700;
    font-family: 'Archivo';
    line-height: 42px;
}

.class-detail-container .class-detail-content-container{}
.class-detail-container .class-detail-content-container .sidebar-col{}
.class-detail-container .class-detail-content-container .sidebar-col .tutor-widget{
    border-radius:14px;
    box-shadow: 0px 5px 11px -3px #ccc;
    padding: 35px;
    border: 1px solid #F2F2F2;
    margin-bottom: 30px;
}
.class-detail-container .class-detail-content-container .sidebar-col .tutor-widget .tutor-widget-header{
    font-size: 22px;
    font-weight:600 ;
    font-family: 'Archivo';
    margin-bottom: 30px;
}
.class-detail-container .class-detail-content-container .sidebar-col .tutor-widget .tutor-image-container{
    text-align: center;
    margin-bottom: 25px;
}
.class-detail-container .class-detail-content-container .sidebar-col .tutor-widget .tutor-image-container .tutor-image{
    width: 158px;
    height: 158px;
    display: inline-block;
    background-size:cover ;
    background-position-y: center;
    border-radius: 50%;
}
.class-detail-container .class-detail-content-container .sidebar-col .tutor-widget .tutor-name{
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 18px;
    text-align: center;
}
.class-detail-container .class-detail-content-container .sidebar-col .tutor-widget p{
    font-size: 14px;
    color: #989FA7;
    font-family: 'Archivo';
    text-align: center;
}
.class-detail-container .class-detail-content-container .sidebar-col .tutor-widget p:last-child{
    margin-bottom: 0;
}

.class-detail-container .class-detail-content-container .sidebar-col .other-dates-widget{
    border-radius:14px;
    box-shadow: 0px 5px 11px -3px #ccc;
    padding: 35px;
    border: 1px solid #F2F2F2;
    margin-bottom: 30px;
}
.class-detail-container .class-detail-content-container .sidebar-col .other-dates-widget h2{
    font-family: 'Archivo';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}
.class-detail-container .class-detail-content-container .sidebar-col .other-dates-widget .dates-list{

}
.class-detail-container .class-detail-content-container .sidebar-col .other-dates-widget .dates-list .dates-item{
    font-family: 'Archivo';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;
}
.class-detail-container .class-detail-content-container .sidebar-col .other-dates-widget .dates-list .dates-item .icon{
    color:#FF7ED1;
    margin-right: 13px;
}
.class-detail-container .class-detail-content-container .sidebar-col .other-dates-widget .dates-list .dates-item:last-child{
    margin: 0;
}
.class-detail-container .class-detail-content-container .sidebar-col .shares-widget{
    margin-bottom: 30px;
    border-radius:14px;
    box-shadow: 0px 5px 11px -3px #ccc;
    padding: 35px;
    border: 1px solid #F2F2F2;
}
.class-detail-container .class-detail-content-container .sidebar-col .shares-widget h2{
    font-family: 'Archivo';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}
.class-detail-container .class-detail-content-container .sidebar-col  ul{
    padding: 0;
    border-radius: 6px;
    margin: 0;
}
.class-detail-container .class-detail-content-container .sidebar-col ul li{
    display: inline-block;
}
.class-detail-container .class-detail-content-container .sidebar-col ul li a{
    display: inline-block;
    padding: 13px 18px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2 ;
    border-right: 1px solid #F2F2F2;
}
.class-detail-container .class-detail-content-container .sidebar-col ul li:first-child a{
    border-left: 1px solid #F2F2F2;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.class-detail-container .class-detail-content-container .sidebar-col ul li:last-child a{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.class-detail-container .class-detail-content-container .sidebar-col ul li a.facebook{
    color:#3D5698;
}
.class-detail-container .class-detail-content-container .sidebar-col ul li a.twitter{
    color:#1DA0F0;
}
.class-detail-container .class-detail-content-container .sidebar-col ul li a.instagram{
    color:#6B85FD;
}
.class-detail-container .class-detail-content-container .sidebar-col ul li a.viber{
    color:#00E676;
}
.class-detail-container .class-detail-content-container .sidebar-col ul li a.linkedin{
    color: #027BB3;
}

@media (max-width:992px){
    .class-detail-container{
        padding-top: 480px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .class-detail-top-block{
        width: calc(100% - 60px);
    }
}
@media (max-width:1200px){
    .class-detail-container{
        padding-left: 30px;
        padding-right: 30px;
    }
}
/* Accordion */
.accordion{
    margin-bottom: 40px;
    border-radius:14px;
    box-shadow: 0px 5px 11px -3px #ccc;
    border: 1px solid #F2F2F2;
    margin-top: 10px;
}
.accordion .card{

}
.accordion .card:last-child{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.accordion .card:first-child{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.accordion .card .card-body{
    font-size: 16px;
    font-family: 'Archivo';
    padding: 23px;
}
.accordion .card .card-header{
    font-size: 18px;
    font-family: 'Archivo';
    font-weight: 600;
    position: relative;
    background-color: #fff;
    padding: 23px;
    padding-right: 95px;
}
.accordion .card .collapse{

}
.accordion .card .card-header button{
    position: absolute;
    right: 37px;
    font-weight: 600;
    top: 14px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: transparent;
    outline: none;
    color: #000;
    border-color: #000;
    font-size: 22px;
}
.accordion .card .card-header button.active{

    border: 2px solid #FF7ED1;
    color: #FF7ED1;
}

/* Map  container */
.map-container{
    margin-bottom: 40px;
    border-radius:14px;
    box-shadow: 0px 5px 11px -3px #ccc;
    border: 1px solid #F2F2F2;
    padding: 10px;

}
.map-container .g-map{

}

/* List photos */
.list-photos{
    margin-bottom: 20px;
}
.list-photos .list-photos-item{}
.list-photos .list-photos-item .photo{
    height: 220px;
    margin-bottom: 30px;
    border-radius: 11px;
    background-size: cover ;
    background-position:center ;
}

/* Shop banner */
.shop-banner{
    height: 265px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.shop-banner .shop-banner-nav-container{
    background-color: #fff;
    border-radius: 72.5px;
    border: 4px solid #000;
    padding: 18px;
    max-width: 90%;
    width: 1200px;
}
.shop-banner .shop-banner-nav-container h2{
    text-align: center;
    font-family: 'Rancho';
    font-weight: 400;
    font-size: 37px;
    margin-bottom: 20px;
}
.shop-banner .shop-banner-nav-container ul{
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}
.shop-banner .shop-banner-nav-container ul li{
    display: inline-block;
    padding: 0 8px;
}
.shop-banner .shop-banner-nav-container ul li a{
    color:#52595F;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 16px;
}